@import "./_bulma.min.css";

$maxContentWidth: 830px;
$orange: #ec6607;
$offwhite: #f5f3ec;

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(OpenSans.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 18px;
  text-align: justify;
  display: grid;
  justify-content: center;
  width: 100%;

  header {
    max-width: $maxContentWidth !important;

    img {
      width: $maxContentWidth;
    }
  }

  main {
    max-width: $maxContentWidth !important;

    .content {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $orange;
        max-width: $maxContentWidth;
      }

      .header p {
        display: flex;
        justify-content: center;
        column-gap: 20px;

        img {
          width: 265px;
        }
      }

      .links {
        height: 200px;
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-gap: 20px;
        align-content: center;
        justify-content: center;

        a {
          height: 45px;
        }
      }

      section {
        min-height: 300px;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      section:nth-child(odd) {
        background-color: $offwhite;
      }

      a.button.is-primary {
        background-color: $orange;
      }
    }
  }
}
